set project_root $env(FAB_PROJECT_DIR)

yosys hierarchy -auto-top

yosys read_verilog -lib $project_root/.FABulous/libs.v
yosys read_rtlil -lib $project_root/.FABulous/cells.il
yosys read_verilog -lib $project_root/.FABulous/IO_buf.v
yosys proc
yosys flatten -noscopeinfo
yosys opt_expr
yosys opt_clean
yosys check
yosys opt -nodffe -nosdff
yosys fsm_detect
yosys fsm_extract
yosys opt
yosys wreduce
yosys peepopt
yosys opt_clean
yosys share
yosys opt_expr
yosys opt_clean

# memory opt
yosys opt_mem_priority
yosys opt_mem_feedback
yosys memory_bmux2rom
yosys memory_dff
yosys opt_clean
yosys memory_share
yosys opt_mem_widen
yosys opt_clean
yosys memory_collect

yosys opt -full

proc extract {cell wrapperPath} {
    # wrapping for mapping
    yosys design -push
    yosys read_json $cell
    yosys techmap -map $wrapperPath
    yosys design -save xmap
    yosys design -pop

    # extracting cell
    yosys extract -constports -ignore_parameters -map %xmap
    yosys design -delete xmap
}

{% for wrapperPath, unWrapperPath, wrapperNames, cells in wrappers %}
# wrapping base design
yosys techmap -map {{ wrapperPath }}
{% for wrapperName, outWidthPair in wrapperNames -%}
yosys connwrappers {% for outPort, outParam in outWidthPair %}-unsigned {{ wrapperName }} {{ outPort }} {{ outParam }} {% endfor %}
{% endfor %}
# extract cells
{%- for cell in cells %}
extract "{{ cell }}" \
        "{{ wrapperPath }}"
{%- endfor %}
# unwrapping
{# yosys techmap -map {{ unWrapperPath }} #}
yosys opt
yosys clean -purge
{% endfor %}

# cell techmapping
yosys techmap -map $project_root/.FABulous/techmaps.v
yosys techmap -map /home/kelvin/FABulous_fork/myProject/PnR/fsm_map.v

# const unit mapping
{# yosys read_rtlil -lib $project_root/Tile/PE/metadata/cell_const_unit.il #}
yosys constmap -cell const_unit const_out ConfigBits

# io mapping
yosys iopadmap -widthparam WIDTH -outpad IO from_fabric:out -inpad IO to_fabric:in
yosys iopadmap -bits -outpad OUTBUF I:PAD -inpad INBUF O:PAD

# final optimization
yosys opt -full
yosys clean -purge
yosys show -enum -long -width -format dot -prefix $project_root/.FABulous/design
yosys write_json $project_root/user_design/synth_test.json
yosys fsm_info
yosys stat
